@font-face {
    font-family: 'Syne';
    src: url('../font/Syne-Regular.woff2') format('woff2'),
        url('../font/Syne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Syne';
    src: url('../font/Syne-ExtraBold.woff2') format('woff2'),
        url('../font/Syne-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Syne';
    src: url('../font/Syne-SemiBold.woff2') format('woff2'),
        url('../font/Syne-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Syne';
    src: url('../font/Syne-Medium.woff2') format('woff2'),
        url('../font/Syne-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Syne';
    src: url('../font/Syne-Bold.woff2') format('woff2'),
        url('../font/Syne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

